Flask
Flask-SQLAlchemy
Jinja2
NorenRestApiPy
SQLAlchemy
Werkzeug
pandas
pyotp
python-dotenv
razorpay
requests
schedule
selenium>=4.26.0
gunicorn
pg8000
cryptography
reportlab
playwright
kiteconnect
smartapi-python
pycurl